html{
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* costume color */
:root {
  --color-mainColor: #0097e6;
  --color-white: #f5f6fa;
  --color-gray: #f0f0f0;
}
body {
  background-color: var(--color-white);
}

header {
  margin: 0 auto;
  padding: 0px 100px;
  background-color: #f5f6fa86;
  backdrop-filter: blur(3px);
  position: sticky;
  top: 0px;
  max-width: 1200px;
  z-index: 10;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px;
  backdrop-filter: blur(2px);
}
.nav-link:hover {
  text-decoration: underline;
}
.nav-link:active {
  color: red !important;
}
/* .nav-link:visited{
  color:purple;
} */
header section h2 {
  font-size: 2rem;
}
header nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 20px;
  font-size: 0.8rem;
}
header nav ul li a {
  text-decoration: none;
  color: black;
}
#homePage {
  color: var(--color-mainColor);
}
.emptyTage {
  border: 1px solid black;
  height: 20px;
}
#btnContact {
  background-color: var(--color-white);
  border: none;
  font-size: 0.8rem;
  padding: 10px 20px;
  box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  border: 2px solid #00679e00;
}
#btnContact:hover {
  background-color: var(--color-mainColor);
  color: var(--color-white);
}
#btnContact:focus {
  border: 2px solid #00669e;
}
#heroSection {
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 0px 100px;
  max-width: 1200px;
  justify-content: space-between;
  position: relative;
}
#wrapperCard {
  padding: 50px;
  background-color: var(--color-gray);
  margin-left: 53px;
  display: flex;
  gap: 30px;
  border-radius: 10px;
}
.cardSection {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-direction: column;
  gap: 15px;
}
#sideBar {
  left: 20px;
  position: absolute;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  transform: rotate(-90deg);
}
#sideBar li a {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}
.active-btn {
  position: relative;
}
.active-btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--color-mainColor);
  bottom: -5px;
}
.cardRate {
  width: 195px;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
}
#profile {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.titleCard {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.titleCard p {
  font-size: 0.8rem;
}
.subClass {
  height: 200px;
  width: 150px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 8px 6px 20px -13px rgb(0 0 0);
  position: relative;
}
.subClass img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.infoClass {
  background-color: #ffffffa4;
  width: 80%;
  backdrop-filter: blur(3px);
  padding: 10px;
  height: 70px;
  border-radius: 10px;
  position: absolute;
  bottom: 9px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.8rem;
}
.titleSubClass {
  font-size: 0.8rem;
  font-weight: normal;
}
.infoSubClass {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imageIcon {
  height: 11px !important;
  width: 11px !important;
}
.imgShow {
  width: 100px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 2px 2px 12px -6px;
}
.cardTwo {
  margin-top: -30px;
}
.cardImage {
  height: 140px;
  display: flex;
  justify-content: space-around;
  align-items: self-start;
  gap: 10px;
}
.cardImage p {
  font-size: 0.6rem;
}
.containerCard {
  /* background-color: #ffffff91; */
  flex-grow: 1;
  border-radius: 10px;
}
.imgWrapper {
  margin-top: 10px;
  position: relative;
  height: 70px;
}
.imgShowCard {
  position: absolute;
  width: 50px;
  object-fit: cover;
  height: 100%;
  border: 1px solid white;
  box-shadow: 5px 5px 20px -12px;
  border-radius: 10px;
}
.imgShowCard:nth-child(2) {
  left: 18px;
  z-index: 1;
}
.imgShowCard:nth-child(3) {
  right: 0;
  z-index: 3;
}
.wrapperCardSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}
#wrapperCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: self-start;
}
.qoute-text {
  font-size: 2rem;
  font-weight: 700;
  max-width: 400px;
}
.qoute-text::first-letter {
  font-size: 3rem;
  color: var(--color-mainColor);
}
.discrib-text {
  font-size: 0.8rem;
  font-weight: 400;
  /* max-width: 200px; */
  text-align: start;
  line-height: 20px;
}
.group-btn {
  display: flex;
  gap: 10px;
  align-items: center;
}
.btn-explain {
  padding: 10px 20px;
  border-radius: 30px;
  background-color: var(--color-mainColor);
  border: none;
  outline: none;
  color: white;
  font-size: 0.8rem;
  font-weight: 500;
  box-shadow: 1px 3px 7px -1px var(--color-mainColor);
}
.icon-play {
  font-size: 1rem;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: var(--color-mainColor);
  background-color: white;
  border: 2px solid transparent;
}
.icon-play:hover {
  border: 2px solid var(--color-mainColor);
}
.info-section {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  margin-top: 40px;
  padding: 20px 160px 20px 200px;
  display: flex;
  justify-content: space-between;
  align-items: self-start;
}
.wrapper-text-article {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper-text-article h3 {
  font-size: 2rem;
  max-width: 500px;
}

.wrapper-text-article p {
  font-size: 0.8rem;
  max-width: 360px;
  text-align: start;
  line-height: 20px;
}
.wrapper-text-article button {
  border-radius: 30px;
  color: var(--color-mainColor);
  border: 2px solid var(--color-mainColor);
  padding: 5px 15px;
  font-size: 0.8rem;
  background-color: transparent;
  outline: none;
  width: 130px;
  transition: linear 0.3s;
}
.btn-explore-more:hover {
  transition: linear 0.3s;
  background-color: var(--color-mainColor);
  color: var(--color-white);
}
.btn-explore-more:focus {
  border: 2px solid rgb(255, 197, 90);
  background-color: orange;
  color: var(--color-white);
}

.wrapper-image {
  position: relative;
  flex-grow: 1;
}
.card-img-float {
  background-color: rgb(255, 255, 255);
  width: 126px;
  height: 200px;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 4px 3px 20px -6px #4e4e4e3d;
  position: absolute;
  transition: 0.2s linear;
}
.card-img-float:hover {
  transform: scale(1.1);
  z-index: 1;
}
.card-img-float:nth-child(1) {
  right: 276px;
  top: -25px;
}
.card-img-float:nth-child(2) {
  right: 0;
}
.card-img-float:nth-child(3) {
  right: 138px;
  top: 45px;
}
.img-float {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9px;
}
.memory-section {
  max-width: 1200px;
  padding: 0px 200px;
  margin: 0 auto;
  margin-top: 20px;
}
.title-memory {
  font-size: 1.5rem;
  text-align: center;
}
.discrib-memory {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.767);
  margin-top: 10px;
  text-align: center;
}
.memory-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.memory-list {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: start;
  gap: 30px;
}
.memory-items {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 5px;
  flex-direction: column;
}

.list-of-sentance {
  font-size: 1rem;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  background-color: var(--color-mainColor);
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.two {
  background-color: #007bbd;
}
.three {
  background-color: #00669e;
}
.memory-items h5 {
  font-size: 1rem;
}
.memory-items p {
  font-size: 0.8rem;
  color: rgba(0, 0, 0, 0.767);
  margin-top: 5px;
  line-height: 23px;
}
.memory-image-container {
  position: relative;
}
.memory-image-content {
  width: 300px;
  height: 450px;
  border-radius: 10px;
  position: relative;
}
.card-float {
  display: flex;
  justify-content: space-center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.813);
  backdrop-filter: blur(4px);
  border-radius: 10px;
  height: 50px;
  gap: 10px;
  padding: 10px;
  position: absolute;
  box-shadow: 1px 1px 13px -3px #b4b4b4;
}

.card-float:nth-child(2) {
  top: 60px;
  left: -50px;
}
.card-float:nth-child(3) {
  top: 40%;
  transform: translateY(-50%);
  right: -50px;
}
.card-float:nth-child(4) {
  bottom: 110px;
  left: -50px;
}
.memory-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.card-float-img {
  height: 35px;
  width: 35px;
  object-fit: cover;
  border-radius: 50%;
}
.card-float-rate {
  color: var(--color-mainColor);
}
.card-float-name {
  font-size: 0.8rem;
}
footer {
  background-color: var(--color-gray);
  width: 100%;
  padding: 20px 0px;
  text-align: center;
  margin-top: 50px;
}
.btn-backto-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 50px;
  width: 50px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: 0.2s ease-in;
  transform: rotate(-90deg);
  cursor: pointer;
  border: none;
  box-shadow: 0px 0px 12px 0px #c5d0ff;
}
.btn-backto-top img {
  width: 100%;
  height: 100%;
}
.btn-backto-top:active {
  transition: 0.2s ease-in;
  transform: rotate(-360deg);
}
